
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 65px;
    

}
header .logo {
    color: #d88e1f;
    font-size: 25px;
    font-weight: bold;
}
header .logo span {
    color: #002;
}
header button {
    padding: 7px 22px;
    color: #fff;
    cursor: pointer;
    background-color: #db192c;
    font-size: 16px;
    border-radius: 8px;  
}

nav  {
    flex: 1;
    text-align: left;

}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li {
   display:inline-block;
    margin-left:20px;
}
nav ul li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    color: #2c2929;
    font-weight: 300;
    transition: 0.2s;
    padding-left: 20px;
}
.navbar li a:hover{
    color: #0eb9ed;
}
.container{
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 25px;
    padding-right: 25px;


}
.nvt-dec{
    margin-top: 10px;
    
    padding: 5px 20px;
    border: 1px solid #e01024;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col-2{flex-basis: 50%; min-width: 500px ;}
    

.col-2 img {
    width: 100%;
    padding-top: 30px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #16a7b4;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    margin-top:25px ;
    transition: background 0.3s;
}
.col-2 a:hover{
    background: #106e77;
}
p{
    color: #555;
}
.header-section{
    margin-top: -20px;
    background: radial-gradient(#fff , #eaf2fb);
}
.col-3{
   flex-basis: 30%;
    min-width: 250px;
  margin: auto;
}
.col-3 img{
    width: 100%;
}
.container h2{
    text-align: center;
    font-size: 2.2rem;
    color: #444;
    margin: 50px 0;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    transition: transform 0.4s;

}
.col-4 img{
    width: 100%;
    height: 195px;
    
    
}

.col-4:hover{
    transform: translateY(-10px);
}
.rating .fas , .fa-solid {
    color: rgb(186, 246, 96);
}
.col-4 .cbg {
    width:100%;
    height: 170px;
}
.col-4 img.cbg {
    width:100%;
    height: 170px;
}



/*.products > div {height: 300px!important;}*/
